{% load static %}
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
  </head>
  <body>
    <nav>
      {% if user.is_authenticated %}
        <p>Welcome, <strong>{{ user.username }}</strong>!</p>
        <form method = "post" action="{% url 'logout' %}" style= "display:inline">
          {% csrf_token %}
          <button type="submit">Logout</button>

        </form>
      {% else %}
        <p>
          <a href = "{% url 'login' %}">Login</a>
          <a href="{% url 'signup' %}">Sign up </a> to cast vote!
        </p>
      {% endif %}
    </nav>
    <hr>
    <h1>Polls</h1>
    {% if user.is_authenticated %}
      <p>welcome, {{ user.username }}! <a href= {% url 'polls:question_create' %}><strong>[+Create New Poll]</strong></a></p>
    {% else %}
      <p><a href = {% url 'login' %}>Login</a>To cast Vote</p>
    {% endif %}
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li>
              <a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a>
              {% if user.is_authenticated and user == question.author %}
                <a href= "{% url 'polls:question_update' question.id%}">[Edit]</a>
                <a href= "{% url 'polls:question_delete' question.id%}">[Delete]</a>
              {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are Available</p>
    {% endif %}            
  </body>
</html>